body {
    font-family: 'Bahnschrift Condensed', sans-serif;
    background: linear-gradient(135deg, #c3deff, #5e79da);
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    z-index: 100;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    padding: 20px;
}

.resources {
    text-align: center;
}

.resource-item {
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

.resource-item h2 {
    margin-top: 0;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.book {
    width: 30%; /* Ширина каждого учебника */
    text-align: center;
}

.book img {
    width: 200px; /* Фиксированная ширина изображения */
    height: 250px; /* Фиксированная высота изображения */
    border-radius: 10px;
    object-fit: cover; /* Сохранение пропорций */
}

.animated-button {
    background-color: #6180b0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 10px auto;
    width: 200px; /* Ширина кнопки равна ширине изображения */
    text-align: center;
    text-decoration: none;
}

.animated-button:hover {
    background-color: #4a6a9b;
    transform: scale(1.05);
}